.example-spacer {
  flex: 1 1 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-toolbar {
  flex: 0 0 auto;
}

mat-drawer-container {
  flex: 1 0 auto;

  mat-drawer {
    width: 300px;

  }

  mat-drawer-content {
    padding: 15px;
  }

}

.nav {
  display: flex;
  flex-direction: column;
  a {
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    text-decoration: none;
    color: black;
    transition: all .2s linear;

    border-bottom: 1px solid #eee;

    &:hover,
    &.active {
      background-color: #3f51b5;
      color: #fff;
    }
  }
}
