.row  {
  display: flex;

  ul {
    display: flex;
    padding: 0;
    width: 100%;
    li {
      border-collapse: collapse;
      border: 1px solid black;
      padding: 15px 0;
      width: 250px;
      list-style: none;
      text-align: center;
    }
  }
}

.table-wrapper {
  display: flex;

  .column {
    width: 250px;

    ul {
      padding: 0;
      width: 100%;
      li {
        border-collapse: collapse;
        border: 1px solid black;
        padding: 15px 0;
        list-style: none;
        text-align: center;
      }
    }
  }
}
